{% extends "admin/change_list.html" %}

{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/import_form.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/import_form.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="import-container">
    <form method="post" action="{% url 'admin:import-from-admin' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="import-title">Импорт данных</h2>

        <div class="radio-group">
            <label class="radio-option">
                <input type="radio" id="source_url" name="source_type" value="url" checked>
                URL YAML-файла
            </label>

            <label class="radio-option">
                <input type="radio" id="source_file" name="source_type" value="file">
                Загрузить файл
            </label>
        </div>

        <div id="url_field" class="form-group">
            <label for="url" class="form-label">URL:</label>
            <input type="text" name="url" id="url" class="form-input"
                   placeholder="https://example.com/data.yaml">
        </div>

        <div id="file_field" class="form-group hidden">
            <label for="file" class="form-label">Файл:</label>
            <input type="file" name="file" id="file" class="form-input" accept=".yaml,.yml">
        </div>

        <div class="form-group">
            <label for="user_id"
                   class="form-label">Выберите пользователя, в магазин которого нужно загрузить товары:</label>
            {% if shop_users %}
                <select name="user_id" id="user_id" required class="form-input">
                    {% for user in shop_users %}
                    <option value="{{ user.id }}">{{ user.email }}</option>
                    {% endfor %}
                </select>
                {% else %}
        <div class="alert alert-warning">
            Нет пользователей, содержащих магазин.
        </div>
        <input type="hidden" name="user_id" value="">
    {% endif %}
        </div>

        <button type="submit" class="submit-btn">Начать импорт</button>
    </form>
</div>
<div class="user-list-section">
    <h1>Выберите пользователя для изменения</h1>
    {{ block.super }}
</div>
{% endblock %}